absl-py==2.3.1
accelerate==1.10.1
asciitree==0.3.3
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
Cython==0.29.37
datasets==4.0.0
diffusers==0.11.0
docker-pycreds==0.4.0
egl_probe==1.0.2
etils==1.5.2
fasteners==0.15
filelock==3.13.1
free-mujoco-py==2.1.6
fsspec==2025.3.0
gdown==5.2.0
glfw==1.12.0
grpcio==1.74.0
hf-xet==1.1.9
huggingface-hub==0.34.4
idna==3.10
imageio-ffmpeg==0.6.0
iopath==0.1.10
Jinja2==3.1.4
llvmlite==0.36.0
Markdown==3.8.2
MarkupSafe==2.1.5
monotonic==1.6
munkres==1.1.4
numba==0.53.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.8.90
opencv-python==4.6.0
packaging==25.0
parameterized==0.9.0
portalocker==3.2.0
protobuf==4.21.12
pyarrow==21.0.0
PyOpenGL==3.1.10
PyQt5==5.15.9
PyQt5-sip==12.12.2
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@75ebeeaea0908c5527e7b1e305fbc7681382db47
PyWavelets==1.6.0
PyYAML==6.0.2
r3m @ https://github.com/facebookresearch/r3m/archive/b2334e726887fa0206962d7984c69c5fb09cceab.tar.gz#sha256=c3d8b8870508836a68c80182751a6184ec44b9e5ca6dddc52032569b02103f34
requests==2.32.5
robomimic==0.2.0
robosuite @ git+https://github.com/cheng-chi/robosuite@277ab9588ad7a4f4b55cf75508b44aa67ec171f0
safetensors==0.6.2
soupsieve==2.8
sympy==1.13.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.1.0
tokenizers==0.22.0
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchvision==0.23.0+cu128
tqdm==4.67.1
transformers @ git+https://github.com/huggingface/transformers.git@b0db5a02f39ebd2ccffd7f8eb77091fda61f9a1e
triton==3.4.0
urllib3==2.5.0
Werkzeug==3.1.3
zstandard==0.23.0
