#note-book
ipykernel
jupyterlab
notebook
ipywidgets

#data-science
matplotlib
scikit-video==1.1.11
#torch==2.7.1
#torchvision==0.22.1
diffusers==0.34.0
numcodecs==0.10.2
huggingface_hub==0.33.2

#simulation-environment
gym==0.26.2
pygame>=2.5.0
pymunk==6.2.1
shapely==1.8.4
opencv-python
scikit-image

#data-storage
zarr==2.16.0